.navbar {
  width: 100%;
  background-color: rgb(206, 142, 233);
  overflow: auto;
}
.navbar a {
  float: right;
  text-align: middle;
  padding: 10px;
  color: whitesmoke;
  text-decoration: initial;
  font-size: 17px;
}
.navbar a:hover {
  background-color: palevioletred;
}
.active {
  background-color: orchid;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: -ms-grid;
  }
}
.navbar img {
  width: 60px;
  height: 60px;
}
.home {
  background-image: url(her.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: centre; 
  padding-bottom: 150px;
  text-align: center;
  
}
.home h1 {
  font-size: 80px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home p {
  font-size: 50px;
  font-style: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  color: rgb(206, 142, 233);
}
body {
  background-color: rgb(206, 142, 233);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: (0px,10px,0px,10px);
}
.about {
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 37px;
  font-size: 21px;
  padding-left: 10px;
  padding-right: 10px;
}
.image img {
  width: 100%;
}
.objectives h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  color: rgb(206, 142, 233);
}  
.objectives {
  background-color: white;
  font-size: 21px;
  margin-bottom: 37px;
  padding-bottom: 10px;
}
.pic img {
  width: 100%;
}
.quote p {
  background-color: white;
  font-size: 40px;
  margin-bottom: 37px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
html{
  background:url(http://phutora.com/img/friends3.jpg) no-repeat;
  background-size: cover;
  height:100%;
  background-color: rgb(206, 142, 233);
}
* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
body {
  font-family: Arial, san-serif;
}


/* Contact Form Styles */
h1 {
  margin: 10px 0 0 0;
}
h4{
  margin: 0 0 20px 0;
}
#contact-form {
  background-color:rgba(72,72,72,0.7);
  padding: 10px 20px 30px 20px;
  max-width:100%;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
  font-size: 15px;  
  margin-bottom: 2px;
  font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
  width:100%;
  background: #fff;
  border: 0; 
  -moz-border-radius: 4px;  
  -webkit-border-radius: 4px;  
  border-radius: 4px;
  margin-bottom: 25px;  
  padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
  background-color: #E5E6E7; 
}  
#contact-form textarea {
  width:100%;
  height: 150px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#991D57;
  background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form button[type="submit"]:hover {
  background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
  box-shadow: none;
  -moz-box-shadow: none;  
  -webkit-box-shadow: none;  
  -o-box-shadow: none;  
} 
#contact-form .required {  
  font-weight:bold;  
  color: #E5E6E7;      
}

/* Hide success/failure message
  (especially since the php is missing) */
#failure, #success {
  color: #6EA070; 
  display:none;  
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
  #contact-form{
     left: 3%;
     margin-right: 3%;
     width: 88%;
     margin-left: 0;
     padding-left: 3%;
     padding-right: 3%;
  }
}